body {
    background:#393939;
    font-size:  1.5em;
	max-width:900px;
    margin:0 auto;
}
h2 {
		font-family: helvetica;
		padding: 20px;
	padding-right: 40px;
	text-align: left;
	padding-left: 0px ;
	
	
	color: #b4f4ff;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;

	
}
.under {
	border-bottom: 2px dotted #0c0;
	text-decoration:none;
}
.under:hover { 
    background-color: black;
}
table {
	
	width: 550px;
    
  
}

table, tr, td, th {
  border-collapse: collapse;
  font-size: 20px;
}
  
  td, th {
  padding: 10px;	
  }
  
  caption {
	padding-bottom: 10px;  
	font-size: 1.5em;
	font-style: bold;
	border-style: solid;
  
  }

.bacon-info {
     
    color: #d4b2f4;
}

.bacon-answer {
    color: #77ffa0;
    line-height: 1.45;
	text-align: leftwards;
	font-family: "Geneva, sans-serif"; 
	padding-left: 200px;
	padding-bottom: 50px;
}
.bacon-answer::first-letter {
    font-size: 200%;
}
